body {
  display: flex;
  justify-content: space-around;
}

.btn-add {
  background: rgb(37, 97, 97);
  background: linear-gradient(0deg, rgba(37, 97, 97, 1) 0%, rgba(15, 236, 22, 1) 100%);
  color: white;
}

.btn-skip {
  background: rgb(37, 97, 97);
  background: linear-gradient(0deg, rgba(37, 97, 97, 1) 0%, rgba(4, 243, 240, 1) 100%);
  color: white;
}

.container {
  position: relative;
}

.lateral, .container {
  position: relative;
  border: 3px solid #1821cc;
  border-radius: 1.9rem;
  width: 500px;
}

ul {
  list-style: none;
}

.texto-azul {
  color: blue;
  font-weight: bold;
  margin-left: 69px;
}

h2 {
  text-align: center;
}

form {
  margin-left: 8rem;
}